{%  extends 'main.html' %}

{% block content %}

<br>

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <h5>Customer:</h5>
      <hr>
      <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
      <a class="btn btn-outline-success  btn-sm btn-block" href="{% url 'createOrder' customer.id %}">Place Order</a>

    </div>
  </div>

  {% if customer %}

  <div class="col-md">
    <div class="card card-body">
      <h5>Contact Information</h5>
      <hr>
      <p>Email: <b>{{customer.email}}</b></p>
      <p>Phone: <b>{{customer.phone}}</b></p>
    </div>
  </div>

  {% endif %}

  {% if totalOrder %}

  <div class="col-md">
    <div class="card card-body">
      <h5>Total Orders</h5>
      <hr>
      <h1 style="text-align: center;padding: 10px">{{totalOrder}}</h1>
    </div>
  </div>
</div>

{% endif %}

<br>
<div class="row">
  <div class="col">
    <div class="card card-body">
      <form method="get">

        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div>

</div>
<br>

<div class="row">
  <div class="col-md">
    <div class="card card-body">
      <table class="table table-sm">
        <tr>
          <th>Product</th>
          <th>Category</th>
          <th>Date Orderd</th>
          <th>Status</th>
          <th>Update</th>
          <th>Remove</th>
        </tr>

        {% for orders in orderDetails %}
        <tr>
          <td>{{orders.product}}</td>
          <td>{{orders.product.category}}</td>
          <td>{{orders.date_created}}</td>
          <td>{{orders.status}}</td>
          {% if customer %}
          <td><a href="{% url 'individualCustomerUpdateOrder' orders.id customer.id %}" class="btn btn-sm btn-success">Update</a></td>
          <td><a href="{% url 'individualCustomerDeleteOrder' orders.id customer.id %}" class="btn btn-sm btn-danger">Delete</a></td>
        </tr>
        {% endif %}
        {% endfor %}

      </table>
    </div>
  </div>
</div>

{% endblock %}
